# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

*.config        text eol=lf
*.sh            text eol=lf
_shelltools     text eol=lf