# Structure: "project ### path"
projectConfigArray=(
    'myproject###/path/to/project'
    'myproject2###/path/to/project2'
)

buildConfigArray=(
    'myproject###mvn clean install'
    'myproject2###./gradlew compileJava'
)

testConfigArray=(
    'myproject###mvn test'
    'myproject2###./gradlew test'
)

runConfigArray=(
    'myproject###startproject.sh'
    'myproject2###startproject2.sh'
)

runAliasConfigArray=(
	'myproject###docker###docker-compose up'
)

stopConfigArray=(
    'myproject2###stopproject2.sh'
)