# Structure: "project ### path"
projectConfigArray=(
	'myproject###/path/to/project'
	'myproject2###/path/to/project2'
)

buildConfigArray=(
    'myproject###mvn clean install'
	'myproject2###mvn -Pproject2 compile'
)

runConfigArray=(
    'myproject###startproject.sh'
    'myproject2###startproject2.sh'
)

stopConfigArray=(
    'myproject2###stopproject2.sh'
)